* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #33435e;
  --secondary-color: #0c0c2e;
  --tertiary-color:  #f0f8ff;
}

.card {
  width: 100%;
  height: 15rem;
  padding: 5px;
  margin: 10px;
  background-color: var(--tertiary-color);
}