* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #33435e;
    --secondary-color: #0c0c2e;
}

body {
    color: #0c0c2e;
    font-family:'Courier New', Courier, monospace;
    background-color: aliceblue;
}

/*  Header section  */

header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #33435e;
    align-items: center;
}

header h1 {
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 18px;
    color: #0c0c2e;
    text-decoration: none;
    padding: 0 20px;
}


/* Sub-box styling */

.sub-box-bg {
    margin: auto 15px;
    padding: 4em;
    background-image: 
    url(./images/bg-avi.JPG),
    url(./images/sub-box-bg.jpg);
    background-repeat: no-repeat;
    background-position: right 50px bottom -25px, center ;
    background-size: 92px, 100%;
}

/* Section-body styling */

.about-category {
    width: 95%;
    padding: 25px;
    display: flex;
    position: absolute;
}

.about-category h2 {
    margin: 8px;
    padding-right: 93px;
    position: relative;
    border-right: #0c0c2e solid 2px;
}

.work-category {
    height: 80%;
    width: 95%;
    top: 48%;
    padding: 25px;
    display: flex;
    position: absolute;
}

.work-category h2 {
    margin: 8px;
    width: 125px;
    padding: 25px;
    position: relative;
    border-right: #0c0c2e solid 2px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 5px;
    height: 250px;
    width: 250px;
    border:#0c0c2e solid 1px;
    border-radius: 8%;
}

.card h4{
    margin: 5px;
    text-align: center;
};

.contact-info {
    background-color: #33435e;
}