* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #33435e;
    --secondary-color: #0c0c2e;
}

body {
    color: #0c0c2e;
    font-family:'Courier New', Courier, monospace;
}

/*  Header section  */

header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #33435e;
    align-items: center;
}

header h1 {
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 18px;
    color: #0c0c2e;
    text-decoration: none;
    padding: 0 20px;
}


/* Sub-box styling */

.sub-box-bg {
    margin: auto 15px;
    padding: 4em;
    background-image: 
    url(./images/bg-avi.JPG),
    url(./images/sub-box-bg.jpg);
    background-repeat: no-repeat;
    background-position: right 50px bottom -25px, center ;
    background-size: 92px, 100%;
}
