* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #33435e;
    --secondary-color: #0c0c2e;
}

body {
    color: #0c0c2e;
    font-family:'Courier New', Courier, monospace;
    background-color: aliceblue;
}

/*  Header section  */

header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #33435e;
    align-items: center;
}

header h1 {
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 18px;
    color: #0c0c2e;
    text-decoration: none;
    padding: 0 20px;
}


/* Sub-box styling */

.sub-box-bg {
    margin: auto 15px;
    padding: 4em;
    background-image: 
    url(./images/bg-avi.JPG),
    url(./images/sub-box-bg.jpg);
    background-repeat: no-repeat;
    background-position: right 50px bottom -25px, center ;
    background-size: 92px, 100%;
}

/* Section-body styling */

.a-body-box {
    padding: 28px;
    margin: 10px;
    width: 90%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.a-body-box h2{
    padding: 10px;
    position: relative;
    width: 120px;
    height: 100%;
    background-color: aliceblue;
    border-right: 3px solid #0c0c2e;
    font-weight: bold;
}

.a-body-box h4 {
    padding: 10px;
    position: relative;
    width: 450px;
    height: 100%;
    background-color: aliceblue;
    font-weight: bold;
}

/* Work section styling */

.b-body-box {
    padding: 28px;
    margin: 10px;
    width: 90%;
    height: 60%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 560px;
}

.b-body-box h2 {
    padding: 10px;
    position: relative;
    width: 120px;
    height: 100%;
    background-color: aliceblue;
    border-right: 3px solid #0c0c2e;
    font-weight: bold;
}

.work-box h3 {
    padding: 10px;
    position: relative;
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border: 2px solid #0c0c2e;
    flex: 1 0 0;
}
