* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #33435e;
    --secondary-color: #0c0c2e;
}

body {
    color: #0c0c2e;
    font-family:'Courier New', Courier, monospace;
    background-color: aliceblue;
}

/*  Header section  */

header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #33435e;
    align-items: center;
}

header h1 {
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 18px;
    color: #0c0c2e;
    text-decoration: none;
    padding: 0 20px;
}


/* Sub-box styling */

.sub-box-bg {
    margin: auto 15px;
    padding: 4em;
    background-image: 
    url(./images/bg-avi.JPG),
    url(./images/sub-box-bg.jpg);
    background-repeat: no-repeat;
    background-position: right 50px bottom -25px, center ;
    background-size: 92px, 100%;
}

/* Section-body styling */

.section-title {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 40px;
    width: 10%;
    position: relative;
    text-align: right;
}

.section-title h2 {
    border-right: #0c0c2e;
}


/* Content-body styling */

.content-body {
    padding: 35px;
    position: relative;
    left: 150px;
    width: 80%;
}

